@charset "UTF-8";
@charset "UTF-8";
* {
   box-sizing: border-box;
}
header {
	z-index: 9999;
    width: 100%;
    padding: 30px 4% 10px;
    background-color: rgb(185, 197, 180);
    position: fixed;
   top: 0;
   display: flex;
   align-items: center;
}
h1 {
   margin: 0; padding: 0;
   font-size: 40px;
}
a {
   text-decoration: none;
   color: #4b4b4b;
   padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(236, 229, 141) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}
a:hover{
  background-position: -100% 0;
  color: #4b4b4b;
}
ul {
   list-style: none;
   margin: 0;
   display: flex;
}
li {
   font-size: 14px;
}
nav {
   margin: 0 0 0 auto;
}
body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #feffff;
}
.errorMessages{
	padding:100px 0 0 0;
	text-align:center;
}
.post{
	margin:130px 10% 10px 10%;
	background: #d6ebff;
	border-radius: 20px;
}
@media ( min-width : 1000px) {
	.post {
		display: flex;

	}
	.flex-item {
		flex-basis: 50%;
        padding: 20px;
        margin: 20px;
	}
}
.parts {
    position: relative;
    padding: 1em 1.5em;
    margin: 2em 0;
    border: solid 3px #000000;
    border-radius: 8px;
    color: #000000;
}
.parts .title{
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 10px;
    line-height: 1;
    font-size: 1.3em;
    background:#d6ebff;
    color: #000000;
    font-weight: bold;
}
.parts p {
    margin: 0;
    padding: 0;
}
.copyright{
	clear: both;
	text-align:center;
}
