@charset "UTF-8";
* {
   box-sizing: border-box;
}
header {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: rgb(185, 197, 180);
    position: fixed;
   top: 0;
   display: flex;
   align-items: center;
}
h1 {
   margin: 0; padding: 0;
   font-size: 40px;
}
a {
   text-decoration: none;
   color: #4b4b4b;
   padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(236, 229, 141) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}
a:hover{
  background-position: -100% 0;
  color: #4b4b4b;
}
ul {
   list-style: none;
   margin: 0;
   display: flex;
}
li {
   font-size: 14px;
}
nav {
   margin: 0 0 0 auto;
}
body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #feffff;
}
.errorMessages{
	clear:both;
	padding:100px 0 0 0;
	text-align:center;
}
.posts{
	padding:100px 10% 10px 10%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.post{
	padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
    flex-basis: 50%;
}
@media ( min-width : 1024px) {
	.post {
		padding: 0.2em 0.5em;
    margin: 2em 0;
    flex-basis: 33%;
	}
}
.form{
	margin:10% 30%;
	text-align: center;
	padding: 10px;
}
input, textarea {
	resize: none;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: #d5d5d5;
}
.button{
	text-align: center;
	width: 100px;
}
.copyright{
	clear: both;
	text-align:center;
}

select {
	width: 200px;
	height: 50px;
	margin: 0.5rem 0.5rem;
	padding-left: 10px;
  	border-radius: 0.3rem;
	background: #d5d5d5;
	font-size: 12px;
	border: none;
	text-align:center;
}
label{
	font-size: 20px;
	margin-top: 20px;
}

.like-btn-unlike {
  color: #8899a6;
}

.like-btn-like {
  color: #ff2581;
}


